@import "products";
@import "cart";
@import "payment";

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

#root {
  max-width: 900px;
}

.gnb {
  ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
